body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #263238; 
    color: #ffffff; 
}

nav ul {
    list-style: none;
    background: #c90c096e; 
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#headerAcceuil {
    background: #4677a0f6; /* Couleur de fond */
    color: white; /* Texte blanc */
    padding: 20px; /* Espacement autour du contenu */
    text-align: center; /* Centrer le texte */
    display: flex; /* Utilisation de Flexbox */
    flex-direction: column; /* Alignement vertical des éléments */
    justify-content: center; /* Centrer les éléments sur l'axe vertical */
    align-items: center; /* Centrer les éléments sur l'axe horizontal */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce autour du header */
}

#headerAcceuil h1 {
    font-size: 2.5em; /* Taille du titre */
    margin: 0; /* Supprime les marges par défaut */
}

#headerAcceuil p {
    font-size: 1.1em; /* Taille du texte du paragraphe */
    margin: 10px 0 0; /* Espacement uniquement au-dessus du paragraphe */
}



header {
    background: #1e88e58f; 
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background: #455A64; 
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

h2 {
    color: #FFEB3B;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#competences {
    width: 45%;
}

#contact {
    width: 45%;
}

.competence {
    background: #81C784; 
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress {
    background: #FF7043; 
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 0;
    transition: width 3.5s ease-in-out;
}

a {
    color: #a7eb09; 
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: #c4e772da; 
}

.hidden {
    display: none;
}


/*********experience*******************/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #263238; 
    color: #ffffff; 
}

header {
    background: #1e88e58f; 
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.experience {
    margin: 20px;
    padding: 20px;
    background: #232f35c2; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 1.8em;
    color: #ffeb3bab; 
}

.intro p {
    font-size: 1.2em;
    color: #E0E0E0; 
}

.exp-list h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffeb3bab; 
}

.experience-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #458285; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
    font-size: 1.5em;
    color: #ffe604c2;
}

.experience-item .date {
    font-size: 1.1em;
    color: #85c1df; 
    margin-bottom: 10px;
}

footer {
    background-color: #263238;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer p {
    margin: 0;
}

a {
    color: #ffeb3bab; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff0000da; 
}

/**************contact******************/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #263238; 
    color: #ffffff; 
}

header {
    background: #1e88e58f; 
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.contact {
    margin: 20px;
    padding: 20px;
    background: #455A64; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 1.8em;
    color: #FFEB3B; 
}


.intro p {
    font-size: 1.2em;
    color: #E0E0E0; 
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #FFEB3B; 
}

.contact-info p {
    font-size: 1.2em;
    color: #E0E0E0; 
}

.contact-info a {
    color: #a7eb09; 
    text-decoration: none;
}

.contact-info a:hover {
    color: #6FBF73; 
}

.form {
    margin-top: 20px;
}

.form h2 {
    font-size: 1.8em;
    color: #FFEB3B; 
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 1.2em;
    color: #E0E0E0;
    display: block;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #B0BEC5;
    background: #455A64;
    color: white;
}

button {
    background-color: #FF7043; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #FF5722; 
}

footer {
    background-color: #263238; 
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer p {
    margin: 0;
}
/*********Profil***********/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #263238; 
    color: #ffffff; 
}

header {
    background: #1e88e58f;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.profil {
    margin: 20px;
    padding: 20px;
    background: #455A64; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 1.8em;
    color: #FFEB3B; 
}

.intro p {
    font-size: 1.2em;
    color: #E0E0E0; 
}

.profil-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profil-details .photo {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil-details .photo img {
    width: 100%;
    border-radius: 50%;
    max-width: 150px;
}

.profil-details .details {
    flex: 1;
    margin-left: 20px;
}

.profil-details h2 {
    font-size: 2em;
    color: #ffeb3bab; 
}     

.profil-details h3 {
    font-size: 1.5em;
    color: #FF7043; 
}

.profil-details p, .profil-details ul {
    font-size: 1.2em;
    color: #E0E0E0; 
}

.profil-details ul {
    list-style-type: none;
    padding: 0;
}

.profil-details ul li {
    margin: 5px 0;
}

.projets {
    margin-top: 30px;
}

.projets h2 {
    font-size: 2em;
    color: #FFEB3B;
    margin-bottom: 20px;
}

.projet-item {
    background: #458285; 
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.projet-item h3 {
    font-size: 1.8em;
    color: #FF7043; 
}

footer {
    background-color: #263238; 
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer p {
    margin: 0;
}


/***************competence************/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #263238; 
    color: #ffffff; 
}

nav ul {
    list-style: none;
    background: #c90c096e; 
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header {
    background: #1e88e565; 
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#competences {
    width: 45%;
}

#contact {
    width: 45%;
}

.competence {
    background: #81C784; 
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress {
    background: #FF7043; 
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 0;
    transition: width 3.5s ease-in-out;
}

.comment-section {
    margin-top: 20px;
}

.comment-section textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}


.like-button {
    padding: 10px 15px;
    background: #FF7043;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.like-button:hover {
    background: #e05a33;
}

.like-count {
    font-size: 18px;
    color: #FFEB3B;
}

a {
    color: #a7eb09; 
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: #c4e772da; 
}

.hidden {
    display: none;
}


/***reduire les image de la categorie competence****/
#competences-images {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.dynamic-image {
    width: 230px; 
    height: auto; 
    margin-bottom: 10px; 
}
/******formation*********/
#formation {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.timeline {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

.timeline-item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 40px;
}

.timeline-date {
    font-weight: bold;
    position: absolute;
    left: -30px;
    top: 0;
    font-size: 1.2em;
}

.timeline-content {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
    margin-top: 0;
}

.timeline-content img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

.diplomes {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

.diplome-item {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.diplome-item img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.diplome-item h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.diplome-item p {
    font-size: 1em;
    color: #666;
}
